In [1]:
import pandas as pd
import numpy as np
from geopy.distance import geodesic
import time

df = pd.read_csv('../csv/NOW_dataframe_cleaned.csv', index_col=0)
gridFeatures = pd.read_csv('../csv/gridFeatures.csv', index_col=0)
localityFeatures = pd.read_csv('../csv/localityFeatures.csv', index_col=0)
timeUnits = ['old','MN1','MN2','MN3','MN4','MN5','MN6','MN7-8','MN9','MN10','MN11','MN12','MN13','MN14','MN15','MN16','MN17','MQ18','MQ19','recent']

In [2]:
# USING ONLY LOCALITIES IN EUROPE AND CLOSE BY
localityFeatures = localityFeatures[(localityFeatures['LAT']>35) & (localityFeatures['LONG']<40)]
# original gridFeatures has resolution 0.1X0.1 degrees, here we go to a 0.5X0.1 resolution to save 
# computation time
gridFeatures = gridFeatures.loc[::5]
display(gridFeatures.head())

    LONG   LAT
0   -6.3  35.0
5   -5.8  35.0
10  -5.3  35.0
15  -4.8  35.0
20  -4.3  35.0

In [3]:
gridFeatures_MN1 = gridFeatures.copy()
gridFeatures_MN2 = gridFeatures.copy()
gridFeatures_MN3 = gridFeatures.copy()
gridFeatures_MN4 = gridFeatures.copy()
gridFeatures_MN5 = gridFeatures.copy()
gridFeatures_MN6 = gridFeatures.copy()
gridFeatures_MN7 = gridFeatures.copy()
gridFeatures_MN9 = gridFeatures.copy()
gridFeatures_MN10 = gridFeatures.copy()
gridFeatures_MN11 = gridFeatures.copy()
gridFeatures_MN12 = gridFeatures.copy()
gridFeatures_MN13 = gridFeatures.copy()
gridFeatures_MN14 = gridFeatures.copy()
gridFeatures_MN15 = gridFeatures.copy()
gridFeatures_MN16 = gridFeatures.copy()
gridFeatures_MN17 = gridFeatures.copy()
gridFeatures_MQ18 = gridFeatures.copy()
gridFeatures_MQ19 = gridFeatures.copy()

gridFeaturesAll = [gridFeatures_MN1,gridFeatures_MN2,gridFeatures_MN3,gridFeatures_MN4,gridFeatures_MN5,\
                   gridFeatures_MN6,gridFeatures_MN7,gridFeatures_MN9,gridFeatures_MN10,gridFeatures_MN11,\
                   gridFeatures_MN12,gridFeatures_MN13,gridFeatures_MN14,gridFeatures_MN15,gridFeatures_MN16,\
                   gridFeatures_MN17,gridFeatures_MQ18,gridFeatures_MQ19]

In [4]:
# HYP and LOP data from these orders can be used for environmental estimation
permissibleOrders = ['Perissodactyla','Artiodactyla','Primates','Proboscidea','Hyracoidea','Dinocerata',\
                     'Embrithopoda','Notoungulata','Astrapotheria','Pyrotheria','Litopterna']
print('NUMBER OF OCCURRENCES (includes "old" and "recent" time units)')
print()
print('Perissodactyla: ' + str(df[df['ORDER']=='Perissodactyla'].shape[0]))
print('Artiodactyla: ' + str(df[df['ORDER']=='Artiodactyla'].shape[0]))
print('Primates: ' + str(df[df['ORDER']=='Primates'].shape[0]))
print('Proboscidea: ' + str(df[df['ORDER']=='Proboscidea'].shape[0]))
print('Hyracoidea: ' + str(df[df['ORDER']=='Hyracoidea'].shape[0]))
print('Dinocerata: ' + str(df[df['ORDER']=='Dinocerata'].shape[0]))
print('Embrithopoda: ' + str(df[df['ORDER']=='Embrithopoda'].shape[0]))
print('Notoungulata: ' + str(df[df['ORDER']=='Notoungulata'].shape[0]))
print('Astrapotheria: ' + str(df[df['ORDER']=='Astrapotheria'].shape[0]))
print('Pyrotheria: ' + str(df[df['ORDER']=='Pyrotheria'].shape[0]))
print('Litopterna: ' + str(df[df['ORDER']=='Litopterna'].shape[0]))

NUMBER OF OCCURRENCES (includes "old" and "recent" time units)

Perissodactyla: 4968
Artiodactyla: 9533
Primates: 1748
Proboscidea: 1933
Hyracoidea: 141
Dinocerata: 32
Embrithopoda: 6
Notoungulata: 103
Astrapotheria: 9
Pyrotheria: 2
Litopterna: 41

In [5]:
# PRE-ALLOCATION
for grid in gridFeaturesAll:
    grid['FIRST OCCURRENCES IN FOCAL AREA (t)'] = 0
    grid['LAST OCCURRENCES IN FOCAL AREA (t)'] = 0
    grid['OCCURRENCES IN FOCAL AREA (t)'] = 0
    grid['UNWEIGHTED OCCURRENCES IN FOCAL AREA (t)'] = 0
    grid['HYP1'] = 0
    grid['HYP2'] = 0
    grid['HYP3'] = 0
    grid['LOP0'] = 0
    grid['LOP1'] = 0
    grid['LOP2'] = 0

gridFeatures_MN15.head()

,LONG,LAT,FIRST OCCURRENCES IN FOCAL AREA (t),LAST OCCURRENCES IN FOCAL AREA (t),OCCURRENCES IN FOCAL AREA (t),UNWEIGHTED OCCURRENCES IN FOCAL AREA (t),HYP1,HYP2,HYP3,LOP0,LOP1,LOP2
0,-6.3,35.0,0,0,0,0,0,0,0,0,0,0
5,-5.8,35.0,0,0,0,0,0,0,0,0,0,0
10,-5.3,35.0,0,0,0,0,0,0,0,0,0,0
15,-4.8,35.0,0,0,0,0,0,0,0,0,0,0
20,-4.3,35.0,0,0,0,0,0,0,0,0,0,0

In [6]:
d = 10 # here we use a square around the focal locality with 2*d degree sides to find candidate localities
radius = 500 # radius (km) of the circle around the focal grid point; we look for localities within this circle

timeUnit_count = 1
for gridFeatures in gridFeaturesAll:
    tic = time.clock()
    count = 0
    for ix in gridFeatures.index: 
        focalTimeUnit = timeUnits[timeUnit_count]
        focalTimeUnitIndex = timeUnits.index(focalTimeUnit)
        focalLONG = gridFeatures.loc[ix,'LONG'] 
        focalLAT = gridFeatures.loc[ix,'LAT'] 
        
        # calculate occurrences at t: we can take focal localities with timeunit MN1 - MQ19
        if (focalTimeUnitIndex >= timeUnits.index('MN1')) & (focalTimeUnitIndex <= timeUnits.index('MQ19')):         
            # we look for candidate localities in the focal area 
            candidateLocalities = localityFeatures[(localityFeatures['TIMEUNIT']==timeUnits[focalTimeUnitIndex]) & (localityFeatures['LONG']>focalLONG-d) & (localityFeatures['LONG']<focalLONG+d) & (localityFeatures['LAT']>focalLAT-d) & (localityFeatures['LAT']<focalLAT+d)]
            for ix_candidate in candidateLocalities.index:
                distance = geodesic(localityFeatures.loc[ix_candidate,['LAT','LONG']], gridFeatures.loc[ix,['LAT','LONG']]).km
                if distance < radius:
                    weight = (radius - distance)/radius
                    gridFeatures.loc[ix,'FIRST OCCURRENCES IN FOCAL AREA (t)'] += weight * candidateLocalities.loc[ix_candidate,'NUMBER OF FIRST OCCURRENCES']
                    gridFeatures.loc[ix,'LAST OCCURRENCES IN FOCAL AREA (t)'] += weight * candidateLocalities.loc[ix_candidate,'NUMBER OF LAST OCCURRENCES']
                    gridFeatures.loc[ix,'OCCURRENCES IN FOCAL AREA (t)'] += weight * candidateLocalities.loc[ix_candidate,'NUMBER OF OCCURRENCES']
                    gridFeatures.loc[ix,'UNWEIGHTED OCCURRENCES IN FOCAL AREA (t)'] += candidateLocalities.loc[ix_candidate,'NUMBER OF OCCURRENCES']
                    
                    # environmental estimation
                    occurrences = df.loc[(df['LIDNUM']==ix_candidate) & (df['ORDER'].isin(permissibleOrders))]
                    for ix_occurrence in occurrences.index:
                        if occurrences.loc[ix_occurrence,'HYP'] == 1:
                            gridFeatures.loc[ix,'HYP1'] += weight
                        elif occurrences.loc[ix_occurrence,'HYP'] == 2:
                            gridFeatures.loc[ix,'HYP2'] += weight
                        elif occurrences.loc[ix_occurrence,'HYP'] == 3:
                            gridFeatures.loc[ix,'HYP3'] += weight
                        
                        if occurrences.loc[ix_occurrence,'LOP'] == 0:
                            gridFeatures.loc[ix,'LOP0'] += weight
                        elif occurrences.loc[ix_occurrence,'LOP'] == 1:
                            gridFeatures.loc[ix,'LOP1'] += weight
                        elif occurrences.loc[ix_occurrence,'LOP'] == 2:
                            gridFeatures.loc[ix,'LOP2'] += weight       
        
        # show run progress
        count += 1
        if count % 10000 == 0:
            toc = time.clock()
            print('Progress: ' + str(count) + '/' + str(gridFeatures.shape[0]))
            print('Time elapsed: ' + str((toc-tic)/60) + ' minutes.')
        
    toc = time.clock() 
    print('Progress: ' + str(gridFeatures.shape[0]) + '/' + str(gridFeatures.shape[0]))
    print('Time elapsed: ' + str((toc-tic)/60) + ' minutes.')         
    display(focalTimeUnit)
    display(gridFeatures.head())
    timeUnit_count += 1

Progress: 10000/15988
Time elapsed: 8.15216165 minutes.
Progress: 15988/15988
Time elapsed: 9.606827933333333 minutes.

'MN1'

,LONG,LAT,FIRST OCCURRENCES IN FOCAL AREA (t),LAST OCCURRENCES IN FOCAL AREA (t),OCCURRENCES IN FOCAL AREA (t),UNWEIGHTED OCCURRENCES IN FOCAL AREA (t),HYP1,HYP2,HYP3,LOP0,LOP1,LOP2
0,-6.3,35.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
5,-5.8,35.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
10,-5.3,35.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
15,-4.8,35.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
20,-4.3,35.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0

Progress: 10000/15988
Time elapsed: 38.37778961666666 minutes.
Progress: 15988/15988
Time elapsed: 45.502075500000004 minutes.

'MN2'

,LONG,LAT,FIRST OCCURRENCES IN FOCAL AREA (t),LAST OCCURRENCES IN FOCAL AREA (t),OCCURRENCES IN FOCAL AREA (t),UNWEIGHTED OCCURRENCES IN FOCAL AREA (t),HYP1,HYP2,HYP3,LOP0,LOP1,LOP2
0,-6.3,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
5,-5.8,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
10,-5.3,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
15,-4.8,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
20,-4.3,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0

Progress: 10000/15988
Time elapsed: 60.66609763333333 minutes.
Progress: 15988/15988
Time elapsed: 71.64366184999999 minutes.

'MN3'

,LONG,LAT,FIRST OCCURRENCES IN FOCAL AREA (t),LAST OCCURRENCES IN FOCAL AREA (t),OCCURRENCES IN FOCAL AREA (t),UNWEIGHTED OCCURRENCES IN FOCAL AREA (t),HYP1,HYP2,HYP3,LOP0,LOP1,LOP2
0,-6.3,35.0,0.204291,0.071566,0.894449,21.0,0.450591,0.0,0.0,0.414301,0.0,0.03629
5,-5.8,35.0,0.000000,0.000000,0.242909,2.0,0.242909,0.0,0.0,0.242909,0.0,0.00000
10,-5.3,35.0,0.000000,0.000000,0.121151,2.0,0.121151,0.0,0.0,0.121151,0.0,0.00000
15,-4.8,35.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.00000
20,-4.3,35.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.00000

Progress: 10000/15988
Time elapsed: 52.01710586666666 minutes.
Progress: 15988/15988
Time elapsed: 60.56289308333333 minutes.

'MN4'

,LONG,LAT,FIRST OCCURRENCES IN FOCAL AREA (t),LAST OCCURRENCES IN FOCAL AREA (t),OCCURRENCES IN FOCAL AREA (t),UNWEIGHTED OCCURRENCES IN FOCAL AREA (t),HYP1,HYP2,HYP3,LOP0,LOP1,LOP2
0,-6.3,35.0,0.630830,0.065422,1.836318,31.0,0.971887,0.0,0.074708,0.794809,0.177078,0.074708
5,-5.8,35.0,0.318264,0.000000,0.640601,10.0,0.479432,0.0,0.002036,0.357978,0.121454,0.002036
10,-5.3,35.0,0.121151,0.000000,0.242302,4.0,0.181727,0.0,0.000000,0.121151,0.060576,0.000000
15,-4.8,35.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
20,-4.3,35.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000

Progress: 10000/15988
Time elapsed: 109.04268396666666 minutes.
Progress: 15988/15988
Time elapsed: 128.09599325 minutes.

'MN5'

,LONG,LAT,FIRST OCCURRENCES IN FOCAL AREA (t),LAST OCCURRENCES IN FOCAL AREA (t),OCCURRENCES IN FOCAL AREA (t),UNWEIGHTED OCCURRENCES IN FOCAL AREA (t),HYP1,HYP2,HYP3,LOP0,LOP1,LOP2
0,-6.3,35.0,0.341777,0.518855,0.695933,3.0,0.0,0.0,0.0,0.0,0.0,0.0
5,-5.8,35.0,0.406754,0.528209,0.649663,3.0,0.0,0.0,0.0,0.0,0.0,0.0
10,-5.3,35.0,0.464384,0.524960,0.585535,3.0,0.0,0.0,0.0,0.0,0.0,0.0
15,-4.8,35.0,0.512055,0.512055,0.512055,1.0,0.0,0.0,0.0,0.0,0.0,0.0
20,-4.3,35.0,0.546612,0.546612,0.546612,1.0,0.0,0.0,0.0,0.0,0.0,0.0

Progress: 10000/15988
Time elapsed: 51.12547101666666 minutes.
Progress: 15988/15988
Time elapsed: 60.51848616666666 minutes.

'MN6'

,LONG,LAT,FIRST OCCURRENCES IN FOCAL AREA (t),LAST OCCURRENCES IN FOCAL AREA (t),OCCURRENCES IN FOCAL AREA (t),UNWEIGHTED OCCURRENCES IN FOCAL AREA (t),HYP1,HYP2,HYP3,LOP0,LOP1,LOP2
0,-6.3,35.0,0.027125,0.013562,0.216999,16.0,0.013562,0.0,0.0,0.0,0.013562,0.0
5,-5.8,35.0,0.000000,0.000000,0.005117,1.0,0.000000,0.0,0.0,0.0,0.000000,0.0
10,-5.3,35.0,0.000000,0.000000,0.045215,1.0,0.000000,0.0,0.0,0.0,0.000000,0.0
15,-4.8,35.0,0.000000,0.000000,0.078437,1.0,0.000000,0.0,0.0,0.0,0.000000,0.0
20,-4.3,35.0,0.000000,0.000000,0.104017,1.0,0.000000,0.0,0.0,0.0,0.000000,0.0

Progress: 10000/15988
Time elapsed: 69.97148389999997 minutes.
Progress: 15988/15988
Time elapsed: 83.38477391666662 minutes.

'MN7-8'

,LONG,LAT,FIRST OCCURRENCES IN FOCAL AREA (t),LAST OCCURRENCES IN FOCAL AREA (t),OCCURRENCES IN FOCAL AREA (t),UNWEIGHTED OCCURRENCES IN FOCAL AREA (t),HYP1,HYP2,HYP3,LOP0,LOP1,LOP2
0,-6.3,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,-5.8,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,-5.3,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,-4.8,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,-4.3,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Progress: 10000/15988
Time elapsed: 74.6110925333333 minutes.
Progress: 15988/15988
Time elapsed: 88.95836579999995 minutes.

'MN9'

,LONG,LAT,FIRST OCCURRENCES IN FOCAL AREA (t),LAST OCCURRENCES IN FOCAL AREA (t),OCCURRENCES IN FOCAL AREA (t),UNWEIGHTED OCCURRENCES IN FOCAL AREA (t),HYP1,HYP2,HYP3,LOP0,LOP1,LOP2
0,-6.3,35.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,-5.8,35.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,-5.3,35.0,0.759119,0.300685,1.024069,19.0,0.250571,0.050114,0.050114,0.100228,0.050114,0.200456
15,-4.8,35.0,2.028190,0.845755,2.746677,19.0,0.704796,0.140959,0.140959,0.281918,0.140959,0.563837
20,-4.3,35.0,3.295975,1.390506,4.467596,19.0,1.158755,0.231751,0.231751,0.463502,0.231751,0.927004

Progress: 10000/15988
Time elapsed: 50.47223889999999 minutes.
Progress: 15988/15988
Time elapsed: 57.07478593333338 minutes.

'MN10'

,LONG,LAT,FIRST OCCURRENCES IN FOCAL AREA (t),LAST OCCURRENCES IN FOCAL AREA (t),OCCURRENCES IN FOCAL AREA (t),UNWEIGHTED OCCURRENCES IN FOCAL AREA (t),HYP1,HYP2,HYP3,LOP0,LOP1,LOP2
0,-6.3,35.0,0.329893,0.329893,1.649465,5.0,0.0,0.0,0.0,0.0,0.0,0.0
5,-5.8,35.0,0.390316,0.390316,1.951581,5.0,0.0,0.0,0.0,0.0,0.0,0.0
10,-5.3,35.0,0.442678,0.442678,2.213389,5.0,0.0,0.0,0.0,0.0,0.0,0.0
15,-4.8,35.0,0.484514,0.484514,2.422568,5.0,0.0,0.0,0.0,0.0,0.0,0.0
20,-4.3,35.0,0.693152,0.513101,2.970620,14.0,0.0,0.0,0.0,0.0,0.0,0.0

Progress: 10000/15988
Time elapsed: 43.174155183333276 minutes.
Progress: 15988/15988
Time elapsed: 47.321154916666636 minutes.

'MN11'

,LONG,LAT,FIRST OCCURRENCES IN FOCAL AREA (t),LAST OCCURRENCES IN FOCAL AREA (t),OCCURRENCES IN FOCAL AREA (t),UNWEIGHTED OCCURRENCES IN FOCAL AREA (t),HYP1,HYP2,HYP3,LOP0,LOP1,LOP2
0,-6.3,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,-5.8,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,-5.3,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,-4.8,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,-4.3,35.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Progress: 10000/15988
Time elapsed: 43.49596040000009 minutes.
Progress: 15988/15988
Time elapsed: 46.35368703333334 minutes.

'MN12'

,LONG,LAT,FIRST OCCURRENCES IN FOCAL AREA (t),LAST OCCURRENCES IN FOCAL AREA (t),OCCURRENCES IN FOCAL AREA (t),UNWEIGHTED OCCURRENCES IN FOCAL AREA (t),HYP1,HYP2,HYP3,LOP0,LOP1,LOP2
0,-6.3,35.0,3.074601,0.308350,4.907551,16.0,0.301682,0.000000,0.000000,0.301682,0.000000,0.000000
5,-5.8,35.0,3.674880,0.368365,5.868369,16.0,0.361894,0.000000,0.000000,0.361894,0.000000,0.000000
10,-5.3,35.0,4.197105,0.420559,6.704533,16.0,0.414414,0.000000,0.000000,0.414414,0.000000,0.000000
15,-4.8,35.0,5.044946,0.503830,8.282502,44.0,0.498184,0.000000,0.041182,0.457002,0.000000,0.082365
20,-4.3,35.0,6.808166,0.817352,12.232657,90.0,0.865832,0.045013,0.193003,0.672829,0.045013,0.386006

Progress: 10000/15988
Time elapsed: 39.863872466666606 minutes.
Progress: 15988/15988
Time elapsed: 42.10276266666661 minutes.

'MN13'

,LONG,LAT,FIRST OCCURRENCES IN FOCAL AREA (t),LAST OCCURRENCES IN FOCAL AREA (t),OCCURRENCES IN FOCAL AREA (t),UNWEIGHTED OCCURRENCES IN FOCAL AREA (t),HYP1,HYP2,HYP3,LOP0,LOP1,LOP2
0,-6.3,35.0,35.005271,10.326202,69.847818,223.0,0.385291,0.385291,0.385291,0.770582,0.000000,0.385291
5,-5.8,35.0,41.987811,12.442913,83.615271,224.0,0.445070,0.445070,0.445070,0.890139,0.000000,0.445070
10,-5.3,35.0,48.245437,14.350107,96.118700,234.0,0.541124,0.495731,0.591967,1.036855,0.000000,0.591967
15,-4.8,35.0,53.509944,15.941531,106.608460,234.0,0.644058,0.534290,0.849926,1.178348,0.000000,0.849926
20,-4.3,35.0,58.190093,18.045317,116.326076,273.0,0.727022,0.618144,1.143720,1.284590,0.060576,1.143720

Progress: 10000/15988
Time elapsed: 22.89479133333334 minutes.
Progress: 15988/15988
Time elapsed: 26.803715716666677 minutes.

'MN14'

,LONG,LAT,FIRST OCCURRENCES IN FOCAL AREA (t),LAST OCCURRENCES IN FOCAL AREA (t),OCCURRENCES IN FOCAL AREA (t),UNWEIGHTED OCCURRENCES IN FOCAL AREA (t),HYP1,HYP2,HYP3,LOP0,LOP1,LOP2
0,-6.3,35.0,2.678823,4.425302,29.018124,106.0,0.442210,0.0,0.221105,0.442210,0.0,0.221105
5,-5.8,35.0,3.382013,5.322633,35.557228,106.0,0.573733,0.0,0.286867,0.573733,0.0,0.286867
10,-5.3,35.0,4.015082,6.104733,41.343248,106.0,0.693665,0.0,0.346832,0.693665,0.0,0.346832
15,-4.8,35.0,4.557414,6.738858,46.158298,106.0,0.798524,0.0,0.399262,0.798524,0.0,0.399262
20,-4.3,35.0,4.984712,7.189061,49.755327,106.0,0.884052,0.0,0.442026,0.884052,0.0,0.442026

Progress: 10000/15988
Time elapsed: 41.98259018333326 minutes.
Progress: 15988/15988
Time elapsed: 52.12701785000002 minutes.

'MN15'

,LONG,LAT,FIRST OCCURRENCES IN FOCAL AREA (t),LAST OCCURRENCES IN FOCAL AREA (t),OCCURRENCES IN FOCAL AREA (t),UNWEIGHTED OCCURRENCES IN FOCAL AREA (t),HYP1,HYP2,HYP3,LOP0,LOP1,LOP2
0,-6.3,35.0,1.279499,3.947638,8.743281,23.0,0.0,0.0,0.0,0.0,0.0,0.0
5,-5.8,35.0,1.466405,4.178452,9.593408,23.0,0.0,0.0,0.0,0.0,0.0,0.0
10,-5.3,35.0,1.615283,4.286826,10.180059,23.0,0.0,0.0,0.0,0.0,0.0,0.0
15,-4.8,35.0,1.732595,4.315877,10.548705,28.0,0.0,0.0,0.0,0.0,0.0,0.0
20,-4.3,35.0,1.860869,4.456493,10.928576,28.0,0.0,0.0,0.0,0.0,0.0,0.0

Progress: 10000/15988
Time elapsed: 34.036508716666624 minutes.
Progress: 15988/15988
Time elapsed: 40.24777789999995 minutes.

'MN16'

,LONG,LAT,FIRST OCCURRENCES IN FOCAL AREA (t),LAST OCCURRENCES IN FOCAL AREA (t),OCCURRENCES IN FOCAL AREA (t),UNWEIGHTED OCCURRENCES IN FOCAL AREA (t),HYP1,HYP2,HYP3,LOP0,LOP1,LOP2
0,-6.3,35.0,1.145342,1.974401,6.548074,32.0,0.775652,0.0,1.190048,0.258551,0.258551,1.448598
5,-5.8,35.0,1.459938,2.478743,8.403831,32.0,1.056644,0.0,1.529565,0.352215,0.352215,1.881780
10,-5.3,35.0,1.742620,2.930869,10.046860,32.0,1.295131,0.0,1.828334,0.431710,0.431710,2.260044
15,-4.8,35.0,2.006589,3.337848,11.557578,38.0,1.483817,0.0,2.210083,0.539076,0.494606,2.660218
20,-4.3,35.0,2.304529,3.726305,13.273800,52.0,1.633949,0.0,2.949423,0.760653,0.547787,3.274931

Progress: 10000/15988
Time elapsed: 19.217700650000065 minutes.
Progress: 15988/15988
Time elapsed: 23.298326500000016 minutes.

'MN17'

,LONG,LAT,FIRST OCCURRENCES IN FOCAL AREA (t),LAST OCCURRENCES IN FOCAL AREA (t),OCCURRENCES IN FOCAL AREA (t),UNWEIGHTED OCCURRENCES IN FOCAL AREA (t),HYP1,HYP2,HYP3,LOP0,LOP1,LOP2
0,-6.3,35.0,0.257879,0.515757,1.641520,7.0,0.0,0.0,0.000000,0.0,0.0,0.000000
5,-5.8,35.0,0.321749,0.643498,2.089573,7.0,0.0,0.0,0.000000,0.0,0.0,0.000000
10,-5.3,35.0,0.379113,0.758225,2.493648,7.0,0.0,0.0,0.000000,0.0,0.0,0.000000
15,-4.8,35.0,0.428007,0.971306,3.100154,25.0,0.0,0.0,0.014412,0.0,0.0,0.014412
20,-4.3,35.0,0.466097,1.382974,4.129654,25.0,0.0,0.0,0.056347,0.0,0.0,0.056347

Progress: 10000/15988
Time elapsed: 54.26322380000008 minutes.
Progress: 15988/15988
Time elapsed: 63.336741833333384 minutes.

'MQ18'

,LONG,LAT,FIRST OCCURRENCES IN FOCAL AREA (t),LAST OCCURRENCES IN FOCAL AREA (t),OCCURRENCES IN FOCAL AREA (t),UNWEIGHTED OCCURRENCES IN FOCAL AREA (t),HYP1,HYP2,HYP3,LOP0,LOP1,LOP2
0,-6.3,35.0,2.130800,5.741085,10.636515,65.0,0.787013,0.147892,3.302013,2.293161,0.311635,1.869811
5,-5.8,35.0,3.170450,8.092443,14.725434,65.0,1.049234,0.279309,4.197134,2.728936,0.442848,2.657087
10,-5.3,35.0,4.125012,10.280947,18.486064,66.0,1.288773,0.401373,4.995377,3.137533,0.563382,3.380291
15,-4.8,35.0,5.126633,12.509331,22.233513,92.0,1.524769,0.511777,5.762722,3.594368,0.670250,4.073092
20,-4.3,35.0,6.528144,15.223256,26.639820,92.0,1.812381,0.607741,6.587921,4.079090,0.759822,4.840245

Progress: 10000/15988
Time elapsed: 33.42641851666667 minutes.
Progress: 15988/15988
Time elapsed: 44.771550616666595 minutes.

'MQ19'

,LONG,LAT,FIRST OCCURRENCES IN FOCAL AREA (t),LAST OCCURRENCES IN FOCAL AREA (t),OCCURRENCES IN FOCAL AREA (t),UNWEIGHTED OCCURRENCES IN FOCAL AREA (t),HYP1,HYP2,HYP3,LOP0,LOP1,LOP2
0,-6.3,35.0,2.002215,3.432750,4.493463,20.0,1.060713,0.238422,0.476845,1.060713,0.119211,0.596056
5,-5.8,35.0,2.222888,4.445984,5.650057,20.0,1.204073,0.370516,0.741032,1.204073,0.185258,0.926290
10,-5.3,35.0,2.481006,5.533281,6.825189,25.0,1.291908,0.492760,0.985521,1.291908,0.246380,1.231901
15,-4.8,35.0,2.705606,6.540326,7.879271,25.0,1.338945,0.602565,1.205129,1.338945,0.301282,1.506412
20,-4.3,35.0,2.865728,7.379244,8.736664,25.0,1.357420,0.696777,1.393555,1.357420,0.348389,1.741943

In [7]:
# calculate additional stats

# gridFeatures_MN1
gridFeatures = gridFeaturesAll[0]
# t-1
gridFeatures['OCCURRENCES IN FOCAL AREA (t-1)'] = 0
gridFeatures['UNWEIGHTED OCCURRENCES IN FOCAL AREA (t-1)'] = 0
# t+1
gridFeatures['OCCURRENCES IN FOCAL AREA (t+1)'] = gridFeaturesAll[1]['OCCURRENCES IN FOCAL AREA (t)']
gridFeatures['UNWEIGHTED OCCURRENCES IN FOCAL AREA (t+1)'] = gridFeaturesAll[1]['UNWEIGHTED OCCURRENCES IN FOCAL AREA (t)']
# t
gridFeatures['PROPORTION OF FIRST OCCURRENCES IN FOCAL AREA (t)'] = gridFeatures['FIRST OCCURRENCES IN FOCAL AREA (t)'] / gridFeatures['OCCURRENCES IN FOCAL AREA (t)']
gridFeatures['PROPORTION OF LAST OCCURRENCES IN FOCAL AREA (t)'] = gridFeatures['LAST OCCURRENCES IN FOCAL AREA (t)'] / gridFeatures['OCCURRENCES IN FOCAL AREA (t)']
gridFeatures['MEAN HYP'] = (gridFeatures['HYP1']*1 + gridFeatures['HYP2']*2 + gridFeatures['HYP3']*3) / (gridFeatures['HYP1'] + gridFeatures['HYP2'] + gridFeatures['HYP3']) 
gridFeatures['MEAN LOP'] = (gridFeatures['LOP1']*1 + gridFeatures['LOP2']*2) / (gridFeatures['LOP0'] + gridFeatures['LOP1'] + gridFeatures['LOP2']) 

# gridFeatures_MN2 - gridFeatures_MQ18
count = 1
for gridFeatures in gridFeaturesAll[1:17]:
    gridFeatures['OCCURRENCES IN FOCAL AREA (t-1)'] = gridFeaturesAll[count-1]['OCCURRENCES IN FOCAL AREA (t)']
    gridFeatures['UNWEIGHTED OCCURRENCES IN FOCAL AREA (t-1)'] = gridFeaturesAll[count-1]['UNWEIGHTED OCCURRENCES IN FOCAL AREA (t)']
    gridFeatures['OCCURRENCES IN FOCAL AREA (t+1)'] = gridFeaturesAll[count+1]['OCCURRENCES IN FOCAL AREA (t)']
    gridFeatures['UNWEIGHTED OCCURRENCES IN FOCAL AREA (t+1)'] = gridFeaturesAll[count+1]['UNWEIGHTED OCCURRENCES IN FOCAL AREA (t)']
    gridFeatures['PROPORTION OF FIRST OCCURRENCES IN FOCAL AREA (t)'] = gridFeatures['FIRST OCCURRENCES IN FOCAL AREA (t)'] / gridFeatures['OCCURRENCES IN FOCAL AREA (t)']
    gridFeatures['PROPORTION OF LAST OCCURRENCES IN FOCAL AREA (t)'] = gridFeatures['LAST OCCURRENCES IN FOCAL AREA (t)'] / gridFeatures['OCCURRENCES IN FOCAL AREA (t)']
    gridFeatures['MEAN HYP'] = (gridFeatures['HYP1']*1 + gridFeatures['HYP2']*2 + gridFeatures['HYP3']*3) / (gridFeatures['HYP1'] + gridFeatures['HYP2'] + gridFeatures['HYP3']) 
    gridFeatures['MEAN LOP'] = (gridFeatures['LOP1']*1 + gridFeatures['LOP2']*2) / (gridFeatures['LOP0'] + gridFeatures['LOP1'] + gridFeatures['LOP2']) 
    count += 1
    
# gridFeatures_MQ19
gridFeatures = gridFeaturesAll[17]
gridFeatures['OCCURRENCES IN FOCAL AREA (t-1)'] = gridFeaturesAll[16]['OCCURRENCES IN FOCAL AREA (t)']
gridFeatures['UNWEIGHTED OCCURRENCES IN FOCAL AREA (t-1)'] = gridFeaturesAll[16]['UNWEIGHTED OCCURRENCES IN FOCAL AREA (t)']
gridFeatures['OCCURRENCES IN FOCAL AREA (t+1)'] = 0
gridFeatures['UNWEIGHTED OCCURRENCES IN FOCAL AREA (t+1)'] = 0
gridFeatures['PROPORTION OF FIRST OCCURRENCES IN FOCAL AREA (t)'] = gridFeatures['FIRST OCCURRENCES IN FOCAL AREA (t)'] / gridFeatures['OCCURRENCES IN FOCAL AREA (t)']
gridFeatures['PROPORTION OF LAST OCCURRENCES IN FOCAL AREA (t)'] = gridFeatures['LAST OCCURRENCES IN FOCAL AREA (t)'] / gridFeatures['OCCURRENCES IN FOCAL AREA (t)']    
gridFeatures['MEAN HYP'] = (gridFeatures['HYP1']*1 + gridFeatures['HYP2']*2 + gridFeatures['HYP3']*3) / (gridFeatures['HYP1'] + gridFeatures['HYP2'] + gridFeatures['HYP3']) 
gridFeatures['MEAN LOP'] = (gridFeatures['LOP1']*1 + gridFeatures['LOP2']*2) / (gridFeatures['LOP0'] + gridFeatures['LOP1'] + gridFeatures['LOP2'])

In [8]:
# environmental estimation

for gridFeatures in gridFeaturesAll:
    gridFeatures['MAT'] = 24.7 + 13.8*gridFeatures['MEAN HYP']-25.1*gridFeatures['MEAN LOP']
    gridFeatures['MAP'] = 2727.7 - 411.9*gridFeatures['MEAN HYP']-859.7*gridFeatures['MEAN LOP']
    gridFeatures['NPP'] = 2957.8 - 304.3*gridFeatures['MEAN HYP']-1043.7*gridFeatures['MEAN LOP']

In [10]:
# save data

timeUnit_count = 1
for gridFeatures in gridFeaturesAll:
    focalTimeUnit = timeUnits[timeUnit_count]
    filename = '../csv/gridFeatures500/gridFeatures_' + focalTimeUnit + '.csv'
    gridFeatures.to_csv(filename)
    timeUnit_count += 1